<%= form_tag guests_path, remote: true do %>
    <% if @guest.errors.any? %>
        <div class="alert alert-error">
          <ul>
            <% @guest.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= label :guest, :last_name, 'Фамилия' %>
    <%= text_field :guest, :last_name %>

    <%= label :guest, :first_name, 'Имя' %>
    <%= text_field :guest, :first_name %>

    <%= label :guest, :middle_name, 'Отчество' %>
    <%= text_field :guest, :middle_name %>

    <%= label :guest, :city, 'Город' %>
    <%= text_field :guest, :city %>

    <%= label :guest, :status, 'Статус' %>
    <%= text_field :guest, :status %>

    <%= submit_tag 'Добавить гостя', id: 'add_guest' %>
<% end %>


<%= link_to 'Add new guest', url: guests_path, remote: true %>