<tr>
  <input type="hidden" class="model_update_url" value="<%= guest_path(guest) %>"/>
  <input type="hidden" class="model_name" value="guest"/>
  <td>
    <% index ||= guest_counter %>
    <%= index + 1 %>
  </td>
  <td model-attr="last_name">
    <p class="editable-text"><%= guest.last_name %></p>
    <input class="hidden" type="text" placeholder="Введите фамилию" value="<%= guest.last_name %>"/>
  </td>
  <td model-attr="first_name">
    <p class="editable-text"><%= guest.first_name %></p>
    <input class="hidden" type="text" placeholder="Введите имя" value="<%= guest.first_name %>"/>
  </td>
  <td model-attr="middle_name">
    <p class="editable-text"><%= guest.middle_name %></p>
    <input class="hidden" type="text" placeholder="Введите отчество" value="<%= guest.middle_name %>"/>
  </td>
  <td model-attr="city">
    <p class="editable-text"><%= guest.city %></p>
    <input class="hidden" type="text" placeholder="Введите город" value="<%= guest.city %>"/>
  </td>
  <td model-attr="status">
    <select class="editable-select" style="width: 250px;">
      <% @statuses.each do |status| %>
          <% unless status.nil? %>
              <% if guest.status == status %>
                  <option selected="selected"><%= status %></option>
              <% else %>
                  <option><%= status %></option>
              <% end %>
          <% end %>
      <% end %>
    </select>
    <input class="hidden" type="text" placeholder="Введите название статуса"/>
    <%= link_to raw('<i rel="tooltip" title="Удалить" class="icon-remove"></i>'), guest_path(guest), method: :delete, remote: true %>
  </td>
</tr>