<h1>Бюджет</h1>
К оплате: <span id='budget_cost'><%= current_wedding.budget_cost %></span>
Уплачено: <span id="budget_paid"><%= current_wedding.budget_paid %></span>
Оплатить осталось: <span id="budget_to_pay"><%= current_wedding.budget_to_pay %></span>
<table class="expenditures-list" width="100%">
  <thead>
  <tr>
    <th class=""><%= sortable 'description', 'Описание' %></th>
    <th class=""><%= sortable 'cost', 'Сумма' %></th>
    <th class=""><%= sortable 'paid', 'Оплачено' %></th>
    <th class=""><%= sortable 'remain_to_paid', 'Осталось' %></th>
  </tr>
  </thead>
  <tbody>
    <%= render @expenditures %>
  </tbody>
</table>

<%= link_to 'Добавить статью расхода', expenditures_path, remote: true, class: 'btn btn-success', method: :post %>