<!DOCTYPE html>
<html ng-app="svadber">
<head>
  <title>Svadber</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'jquery.ui.all' %>
  <%= javascript_include_tag 'angular' %>
  <%= javascript_include_tag 'angular-resource' %>
  <%= csrf_meta_tags %>
</head>
<body class="no-touch">
<div id="holder" class="ng-cloak">

  <%= render 'layouts/header' %>
  <div class="main-content">
    <div class="container">

      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>

      <%= yield %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>
<%= javascript_include_tag 'application' %>
</body>
</html>
