<!DOCTYPE html>
<html ng-app="Svadber">
<head>
  <title>Svadber</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'jquery.ui.all' %>
  <%= javascript_include_tag 'angular' %>
  <%= javascript_include_tag 'angular-resource' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="main-container" id="main-container">
  <script type="text/javascript">
      try {
          ace.settings.check('main-container', 'fixed')
      } catch (e) {
      }
  </script>

  <div class="main-container-inner">
    <a class="menu-toggler" id="menu-toggler" href="#">
      <span class="menu-text"></span>
    </a>
    <% if user_signed_in? %>
        <%= render 'layouts/sidebar' %>
    <% end %>

    <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>

    <div class="page-content ng-cloak">
      <%= yield %>
    </div>
  </div>
</div>
<%= javascript_include_tag 'application' %>
</body>
</html>
